import { LitElement } from "lit";
import { html } from "lit/static-html.js";

import componentTokens from "./styles/tokens.scss"
import componentColor from "./styles/color.scss"
import componentStyle from "./styles/style.scss"

/**
 * {{ auroComponentName name }} is a reusable web component written using Lit.
 */
export class {{ auroComponentName name }} extends LitElement {
  static get styles() {
    return [componentTokens, componentColor, componentStyle];
  }

  static register() {
    if (typeof window !== "undefined") {
      const elementName = "{{ auroDashCase name }}";
      if (!customElements.get(elementName)) {
        customElements.define(elementName, {{ auroComponentName name }});
      }
    }
  }

  render() {
    return html`
      <div>
        <p>hello {{ auroComponentName name }}!</p>
      </div>
    `;
  }
}
